.logo {
    width: 220px;
    height: 80px;
    background-size: contain !important;
}

@media (max-width: 992px) {
    .logo {
        width: 100%;
        background-position: center center !important;
    }
}

.sticky-top {
    transition-duration: 0.5s;
}

.header {
    background-size: cover !important;
}