body {
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
    box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
}

.logo {
    background: url("../images/logo.png") top left no-repeat;
    background-size: contain;
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .logo {
        width: 100%;
        background-position: center;
    }
}

.sf-menu li:hover, .sf-menu li.sfHover {
    /* background: #ddd; */
}